.idea/
*.pyc
__pycache__
.vscode
.scala-build
.bsp
.tmp
.test_assets/
build
gh_pages_build
*.DS_Store
logs/
.devcontainer/
gigl.egg-info/
gigl_dataflow_setup.egg-info/
.python-version
dist/
*.egg-info/
miniconda/
.mypy_cache/
tools/
.metals/
.bloop/
**/project/**/metals.sbt
**/src/test/assets/**/output/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
python/gigl/env/customer.yaml
python/gigl/deps/
_autosummary/
graphlearn_torch/
graphlearn_torch.egg-info/
.git/

# Ignore downloaded fossa files.
fossa
fossa.bundle
fossa*.zip
