.btn-info,
.wy-menu-vertical a:active,
.wy-side-nav-search,
.wy-side-nav-search img,
.wy-nav .wy-menu-vertical a:hover,
.wy-nav-top img,
.wy-tray-item-info,
.wy-side-nav-search,
.wy-dropdown-menu>dd>a:hover,
.wy-dropdown-menu a:hover,
.wy-nav-top {
    background-color: #FFEB3B !important;
}

/* Gloabl Configuration */
:root {
    --pst-sidebar-font-size: 1.0em;
    --pst-sidebar-header-font-size: 1.0em;
    --pst-sidebar-secondary-font-size: 0.9em;
    --pst-header-height: 44px;
    --pst-font-family-base: 'Inter', var(--pst-font-family-base-system); /* Google Font see conf.py */ 
    --pst-font-family-heading: 'Inter', var(--pst-font-family-base-system); /* Google Font see conf.py */ 
    --pst-font-weight-heading: 700;
    --pst-font-color-heading: #0A0C13;
}

/* Back to Top button */
#pst-back-to-top {
    background-color: #FFFC00; 
    border: none;
    color: #0A0C13;
    display: none;
    left: 50vw;
    position: fixed;
    top: 90vh;
    transform: translate(-50%);
    z-index: 1080;
}

a.headerlink {
    color: #FFEB3B; /* Snapchat Yellow (two shades darker for better visibility on light background) */ 
    font-size: .8em;
    margin-left: 0.2em;
    opacity: .7;
    padding: 0 4px;
    text-decoration: none;
    transition: all .2s ease-out;
    user-select: none;
}

html[data-theme="light"] {
    --pst-color-secondary: #FFEB3B; /* Snapchat Yellow (two shades darker for better visibility on light background) */ 
    --pst-font-size-h1: 1.9rem;
    --pst-font-size-h2: 1.25rem;
    --pst-font-size-h3: 1.25rem;
}

html[data-theme="dark"] {
    --pst-color-primary: #FFFC00; /* Snapchat Yellow */ 
    --pst-color-secondary: #FFFC00; /* Snapchat Yellow */ 
    --pst-font-size-h1: 1.9rem;
    --pst-font-size-h2: 1.5rem;
    --pst-font-size-h3: 1.25rem;
}